*{
    box-sizing: border-box;
}

body{
  background-image: url('https://images.unsplash.com/photo-1642091465532-c6bbbcfa0837?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1540&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.myyear{
    text-align: center;
    padding-top: 6rem;
}
h1{
    font-size: 74px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
}
.counter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.counter-c{
    padding-right: 50px;
    
}
.timer{
    /* font-size: 6rem;
    line-height: 1;
    font-weight: bold; */
    font-weight: bold;
    line-height:1;
    font-size: 5rem;
}
.bigtext{
    font-size: 24px;
}